/*
#dFdFdF
*/
.highlighted > td{
  background-color: #dFdFdF;
}
.highlighted:hover > td{
  background-color: #dFdFdF;
}
/*
#e3e9f2
*/
.table-hover tbody tr:hover:not(#demographicsHead) td, .table-hover tbody tr:hover th {
  background-color: white;
}

.list-group{
  text-align: center;
}

.glyphicon-ok-sign{
  color: #00FF00;
}


#demographicsTable {
  width : 50%;
}

#demographicsHead {
  border-bottom: 2px solid #f44242;
  background-color: white;
}

#demographicsHead:hover {
  border-bottom: 2px solid #f44242;
  background-color: white;
}

#internshipRolesTable{
  width : 50%;
}


.rolesTableHead th {
  border : none;
  border-bottom : 2px solid #f44242;
  text-align : center;
}

.roleCheck {
  border-right: none;
}
