/*
#dFdFdF
*/
.highlighted > td{
  background-color: #dFdFdF;
}
.highlighted:hover > td{
  background-color: #dFdFdF;
}
/*
#e3e9f2
*/
.table-hover tbody tr:hover:not(#demographicsHead) td, .table-hover tbody tr:hover th {
  background-color: #dFdFdF;
  color: black;
}

.list-group{
  text-align: center;
}

.glyphicon-ok-sign{
  color: #00FF00;
}



#internshipRolesTable, #mentorshipRolesTable, #demographicsTable{
  width : 50%;
  background-color: #c44a54;
  border-color: black;
}

#internshipRolesTable  td, #mentorshipRolesTable td, #demographicsTable td{
  color: white;
}

#internshipRolesTable  th, #mentorshipRolesTable th, #demographicsTable th{
  color: white;
}

.rolesTableHead th {
  border : none;
  background-color: black;
  border-bottom : 2px solid #f44242;
  text-align : center;
}

.roleCheck {
  border-right: none;
}
