.accountDetails
{
	margin-top: 16px;
	width: 70%;
	height: 70%;
	margin-left: 15%;
	background-color: #4c4648;
	
	padding: 16px 16px;
	
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
}

.accountDetails table
{
	width: 100%;
	color: white;
	font-size: 17px;
	border-collapse: collapse;
}

.accountDetails table tr:first-child
{
	font-size: 20px;
	padding-top: 0;
}

.accountDetails table tr
{
	width: 100%;
}

.accountDetails table td
{
	padding: 4px 4px; 
	padding-top: 24px;
	padding-right: 200px;
	vertical-align: middle;
}

.accountDetails table tr:not(:first-child)
{
	border-bottom: 1.5px solid #6f6a6c;
}

.accountDetails table tr.hoverable:hover
{
	background-color: #5d585a;
}

.accountDetails table tr:first-child > td
{
	padding-top: 0;
}

.accountDetails table tr:last-child
{
	font-size: 12px;
	color: #BBBBBB;
	border: 0;
}

.accountDetails select
{
	-webkit-appearance: menulist-button; font-size: 14px;	
	margin-bottom: 8px;
	margin-right: 8px;
	width: 120px;
	padding: 0;
}

.accountDetails button, input
{
	font-size: 14px;
	margin-bottom: 4px;
}

.accountDetails input
{
	width: 100%;
	margin-right: 8px;
	margin-bottom: 8px;
}
